@use './base' as *;
.nav {
    display: none;
    margin-top: 1.6rem;
    background-color: white;
    padding: 1.3rem 1.1rem;
    border-radius: 9px;

    &__list--item{
        
        &:not(:first-child){
            margin-top: 2rem;
        }

        &-link {
            text-decoration: none;
            color: $Black;
            font-weight: 500;
            font-size: 18px;
        }
    }

    @include respond(tab) {
        display: block;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        margin-top: 0;
        
        &__list{
            display: flex;
            gap: 12px;


            &--item {
            
                &:not(:first-child) {
                    margin-top: 0;
                }
            
                &-link {
                    color: white;
                }
            }
        }
    }


}

.header {


    &__container{
        padding-top: 1.5rem;
        width: $container;
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


    @include respond(tab) {
        &__ham {
            display: none;
        }
    }
}